
<h3>Signup for My Newsletter</h3>
<div class="cta-container">
  <form action="//forms.brace.io/web@myterracare.com" method="POST">
    <input type="hidden" name="form" value="Newsletter Signup">
    <!-- Email Address -->
    <div class="row">
      <div class="formitem email">
        <label for="email" class="required">Email Address:</label>
        <input id="email" type="email" name="email" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" autocomplete="email" placeholder="milk@cereal.com" required>
      </div>
      <input type="hidden" name="_next" value="http://myterracare.com/thank-you/" />
      <input type="text" name="_gotcha" style="display:none">
      <!-- .Form Housekeeping -->
    </div>
    <div class="row">
      <div class="formitem">
        <button class="btn btn-primary" type="submit" name="submit" value="submit">
          <span>Subscribe</span>
        </button>
      </div>
    </div>
  </form>
</div>
