---
layout: contained
title: Privacy
class: privacy
---

<section class="privacy">
  {% include content.html %}

  <h2>Privacy Policy</h2>

  <p class="lede">This Privacy Policy applies to the website www.chris-cardio.com and associated sites (the “Site”). This Privacy Policy describes the information we collect on the Site and how chris-cardio.com / Chris Schieffer ("me", "my", or “I”) uses it, the choices you can make about your information and how we protect your information.</p>

  <hr>

  <h3>The information we collect and how we use it</h3>

  <p>We collect your email address, and sometimes your first name. For example, you can subscribe to receive the Newsletter and/or website updates (or other offerings including free updates, free reports, and other information) from the Site by submitting your email address. You also may submit comments to the blog on the Site or through the contact mechanism on the Site.</p>

  <p>We generally do not encourage the submission of any personal information in these comments or through the contact mechanism other than what we expressly require (e.g., name and email address). Information you disclose in the comments becomes public information and you should exercise caution when deciding to disclose your information in a submission.</p>

  <p>Web servers may automatically capture the following information from visitors to the Site, including the name of the domain and host from which you access the internet, the internet address of the Site from which you enter the Site, the pages you visit on the Site and the amount of time you spend on the Site. This visitor information may be used to improve the Site.</p>

  <h3>Links to other Web sites</h3>

  <p>We do not endorse and are not responsible for the information practices or privacy policies of any other Web sites that may be linked to or from the Site. If you decide to access any other Web site that may be linked to or from the Site, you should consult that Web site’s privacy policy.</p>

  <h3>Security</h3>

  <p>We take reasonable steps to protect personal information from loss and misuse. Please keep in mind that no Internet transmission is 100% secure. Some email sent to or from the Site may not be secure. Please consider this when sending information to us by email.</p>

  <h3>Privacy Policy Changes</h3>

  <p>Although most changes are likely to be minor, chris-cardio.com may change its Privacy Policy from time to time, and in chris-cardio.com’s sole discretion. Chris-cardio.com encourages visitors to frequently check this page for any changes to its Privacy Policy. Your continued use of this site after any change in this Privacy Policy will constitute your acceptance of such change.</p>

  {% include end_content.html %}
</section>
<!-- /.privacy -->
