// Pull globals for individually compiled css files
@import '../globals/allGlobals';

/* ==========================================================================
    Modules -- Version: 0.4.0 - Compiled: #{timestamp()}
   ========================================================================== */

.box-column {
  @extend %clearfix !optional;
  @include margin($margin / 2, 0, $margin);
  @include padding($padding);
  border: 1px solid $color-light-grey;
  @include border-radius;
  background: $color-white;
  overflow: visible;
}

hr {
  @include inline-block;
  @extend %clearfix !optional;
  width: 100%;
  @include margin($margin, 0);
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: 0;
  border-top: 1px solid $text-light-grey;
  border-bottom: 1px solid mix($site-background,$color-white,20%);
  
  &.drama {
	height: 1px;
	@include margin($margin, 0);
	background: linear-gradient(left, rgba(0,0,0,0), $color-dark-grey, rgba(0,0,0,0));

	&:after {
      display: block;
	  content:'';
      height: 30px;
      background-image: radial-gradient(farthest-side at center top, $color-light-grey 0%, rgba(255, 255, 255, 0) 100%);
    }
  }
  
  &.green {
    border-top: 1px solid mix($color-tertiary-green,$color-white,70%);
    border-bottom: 1px solid mix($color-tertiary-green,$color-white,30%);
  }
}

hr.drama {
  
}

hr.sandbox {
  @extend %clearfix !optional;
  @include margin($margin, 0);
  border: 0;
  border-top: 1px solid $text-light-grey;
}
