// Pull globals for individually compiled css files
@import '../globals/allGlobals';

/* ==========================================================================
    Site Overrides -- Version: 0.4.0 - Compiled: #{timestamp()}
   ========================================================================== */

.pricing-module {
  @extend %clearfix !optional;
  border: 1px solid $color-light-grey;
  @include border-radius;
  background: $color-white;
  overflow: visible;
  
  header {
	@include padding($spacing);
	border-radius: $border-radius $border-radius 0 0;
	background-color: mix($text, transparent, 70%);
	color: $color-white;
	text-align: center;
  }
  
  &.preferred {
	header {
	  @include rgba($text, 100%);
	}
  }
  
  section {
	@include padding($spacing);
  }
  
  footer {
  	@include padding($spacing);
  	border-radius: 0 0 $border-radius $border-radius;
  	@include rgba($color-light-grey, $site-alpha);
  }
}