<section class="about" id="about">
  {% include content.html %}

  <section>
    <h2>About</h2>
    <div class="row">
      <div class="two-thirds">
        <p class="lede">
          Personal training for individuals and groups. Focusing on intervals, TRX, cardio and boot camp style workouts that motivate and deliver results.
        </p>

        <hr class="drama">

        <p>Certified Personal Trainer, IMBA Mountain Bike Instructor/Guide and Colorado Native, Chris is a life long exercise enthusiast.  She graduated from Colorado State University with a BA in Speech Communications, and an emphasis in Rhetorical Studies. She worked as an IT and Business Management Consultant for five years before beginning a family in 2010. After back to back pregnancies and taking time to “be a mom,” Chris returned to Consulting for a brief period only to decide to switch career paths completely and do what she REALLY loved. In the Spring of 2013, Chris made the decision to exit the Technology and Management fields, get her CPT and focus on her true passions: Helping people, Personal Training, General Fitness and Nutrition and the Outdoors.</p>

        <hr>

        <p>Chris Cardio Personal training  is available through both individual and group sessions, and focuses on delivering results catered to your specific fitness goals. Weather permitting, Chris Cardio sessions will be held in an outdoor setting and focus on interval style training.</p>

        <hr>

        <p>Chris-Cardio is located in Golden, CO and does all kinds of awesome things for the community.</p>
      </div>
      <div class="third">
        {% include sidebar.html %}
        <ul class="vertical lined">
        <li><a href="{{ site.baseurl }}/events">Events</a></li>
          <li><a href="{{ site.baseurl }}/photo-gallery">Photo Gallery</a></li>
          <li><a href="{{ site.baseurl }}workout-programs">Workout Programs</a></li>
          <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
        </ul>
      </div>
    </div>
  </section>

  {% include end_content.html %}
</section>
<!-- /.about -->
